### El objetivo de la clase de hoy será crear unos cuántos DataFrames y Series a través de los siguientes ejercicios:

1. ¿Qué diferencia hay entre una Serie y un DataFrame?

2. Momento de trabajar con Series. Contesta a las siguientes preguntas:

Crea dos listas:

Una que se llame "valores" que tenga 7 números aleatorios.

Otra que se llame "indices" que tenga 7 strings que se llamen como los días de la semana.

In [1]:
import numpy as np
import pandas as pd

In [3]:
valores = [7,1,2,6,3,5,4]
indices = ['lun', 'mar', 'mie', 'jue', 'vie','sab', 'dom']

A partir de estas dos listas crea una Serie donde la variable "valores" sean los valores de la Serie y la variable indices sean los índices de la Serie.

In [39]:
series_1 = pd.Series(valores, index = indices) 
series_1

lun    7
mar    1
mie    2
jue    6
vie    3
sab    5
dom    4
dtype: int64

A partir de las dos listas anteriores crea un diccionario usando un bucle for. Para hacer esto tenemos el método zip 
que nos permite iterar por dos listas a la vez. Más informción sobre este método aquí.

In [40]:
# Inicializamos el diccionario vacío
diccionario = {}

# Usamos zip para iterar sobre ambas listas simultáneamente
for indice, valor in zip(indices, valores):
    diccionario[indice] = valor

# Imprimimos el diccionario resultante
print(diccionario)

{'lun': 7, 'mar': 1, 'mie': 2, 'jue': 6, 'vie': 3, 'sab': 5, 'dom': 4}

Crea una Serie con el diccionario creado en el punto anterior.

In [41]:
dias_dic = pd.Series(diccionario)
dias_dic

lun    7
mar    1
mie    2
jue    6
vie    3
sab    5
dom    4
dtype: int64

¿Qué forma tiene esta última Serie?

¿Qué tipo de datos tiene?

¿Qué tamaño tiene?

¿Cuáles son los índices de la Serie?

¿Y los values?

In [15]:
print(f"El método 'index' nos devuelve los índices de la Serie: {dias_dic.index}")
print("---------------------------")


print(f"El método 'values' nos devuelve los valores de la Serie: {dias_dic.values}")
print("---------------------------")

print(f"El método 'shape' nos devuelve la forma de la Serie: {dias_dic.shape}")
print("---------------------------")


print(f"El método 'size' nos devuelve el número de elementos de la Serie: {dias_dic.size}")
print("---------------------------")


print(f"El método 'dtypes' nos devuelve el tipo de datos de la Serie: {dias_dic.dtypes}")

El método 'index' nos devuelve los índices de la Serie: Index(['lun', 'mar', 'mie', 'jue', 'vie', 'sab', 'dom'], dtype='object')
---------------------------
El método 'values' nos devuelve los valores de la Serie: [7 1 2 6 3 5 4]
---------------------------
El método 'shape' nos devuelve la forma de la Serie: (7,)
---------------------------
El método 'size' nos devuelve el número de elementos de la Serie: 7
---------------------------
El método 'dtypes' nos devuelve el tipo de datos de la Serie: int64

Extrae el valor para el índice "lunes"

Extrae el valor para el índice "lunes", "martes" y "miércoles".

Extrae el valor para el índice "lunes" y "domingo".

In [44]:
df_dic_dias = pd.DataFrame(dias_dic)
df_dic_dias

     0
lun  7
mar  1
mie  2
jue  6
vie  3
sab  5
dom  4

In [48]:
print("El valor que está en indice 'Lunes' es:", dias_dic['lun'])  



print(f"El valor d lunes, martes, miercoles es: \n {df_dic_dias.loc['lun':'mie']}")

print(f"El valor d lunes, y domingo es: \n {df_dic_dias.loc[['lun','dom']]}")

El valor que está en indice 'Lunes' es: 7
El valor d lunes, martes, miercoles es:
      0
lun  7
mar  1
mie  2
El valor d lunes, y domingo es:
      0
lun  7
dom  4

Es el turno de los DataFrames

Crea un array de dos dimensiones con 4 filas y 3 columnas.

In [5]:
array_bi1 = np.random.randint(0,10, (4,3))
array_bi1

array([[3, 4, 1],
       [1, 7, 3],
       [1, 9, 7],
       [0, 4, 9]])

Convierte el array en un DataFrame donde las columnas se llamen "España", "Francia" e "Italia".

In [7]:
df_paises = pd.DataFrame(array_bi1, columns=['España', 'Francia', 'Italia'])
df_paises

   España  Francia  Italia
0       3        4       1
1       1        7       3
2       1        9       7
3       0        4       9

Descarga el archivo "medallas" y carga el DataFrame.

In [8]:
df_medallas = pd.read_csv('medallas.csv')
df_medallas

   Unnamed: 0             País   Oro  Plata  Bronce
0           1            China  1473    994     720
1           2            Japón  1032   1037     985
2           3    Corea del Sur   745    663     827
3           4             Irán   179    181     197
4           5       Kazajistán   155    158     224
5           6            India   154    202     315
6           7        Tailandia   132    175     278
7           8        Indonesia   112    131     240
8           9     China Taipéi    99    144     276
9          10  Corea del Norte    91    120     235

Usando el loc extrae todas las columnas de la fila de Tailandia.

In [18]:
df_medallas.loc[df_medallas.País == 'Tailandia']

   Unnamed: 0       País  Oro  Plata  Bronce
6           7  Tailandia  132    175     278

Usando el loc extrae todas las columnas de China e Irán.

In [14]:
df_medallas.loc['China Taipéi', 'Irán']

KeyError: 'Irán'

Usando el loc extrae solo las columnas de "Oro", "Plata" y "Bronce" de China e Irán.

Usando el iloc extrae la información de la India. Devolved todas las columnas.

Usando el iloc extrae todas las columnas de los paises que estén en posición impar. La primera que nos tendría que salir es Japón y la última Corea del Norte.

Utilizando el código del ejercicio anterior, selecciona unicamente las columnas "Oro", "Plata" y "Bronce".

Contesta a las siguientes preguntas:

¿Qué país consiguió más de 200 medallas de oro?

¿Qué país consiguió más de 200 medallas de oro y más de 1000 de plata?

¿Qué país consiguió más de 200 medallas de oro o más de 700 de bronce?

Crea una nueva columma que se llame "total" que sea el resultado de la suma de todas las medallas obtenidas por cada país.