### Unión de datos

1. Explora y carga ambos conjuntos de datos en pandas DataFrames.

In [2]:
import pandas as pd

df_parte1 = pd.read_csv('world-data-2023_part1.csv')
df_parte2 = pd.read_csv('world-data-2023_part2.csv')

2. Identifica las columnas comunes entre los dos conjuntos de datos.

In [3]:
df_parte1.head(2)

,Unnamed: 0,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70
1,1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36

In [4]:
df_parte2.head(2)

,Unnamed: 0,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,0,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,1,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"

3. Utiliza el método de unión de Pandas que consideres más adecuado para combinar los datos de ambos años en un solo DataFrame.
Explica por qué elegiste ese método de unión y cómo se llevaron a cabo los pasos anteriores.

In [5]:
df_inner = df_parte1.merge(df_parte2, left_on='Country', right_on = "country")
df_inner.head()

,Unnamed: 0_x,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,...,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,...,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,...,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"
2,2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,...,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",Algeria,"('28.033886 ', '1.659626')"
3,3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,...,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",Andorra,"('42.506285 ', '1.521801')"
4,4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,...,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",Angola,"('-11.202692 ', '17.873887')"

### Limpieza

1. Después de la unión de datos, tenemos dos columnas de "country". Elimina una de ellas.

In [6]:
df_inner.drop('country', axis=1, inplace= True)

2. Los nombres de las columnas no son homogeneos. Cambia los nombres de las columnas de tal forma que:

No tengan espacios.

In [8]:
#primero se reemplaza

columna_inner = {columna: columna.replace(" ", "") for columna in df_inner.columns}


#se renombra para que se terminen de hacer los cambios

df_inner.rename(columns=columna_inner, inplace=True)

In [9]:
df_inner

,Unnamed:0_x,Country,Density\n(P/Km2),Abbreviation,AgriculturalLand(%),LandArea(Km2),ArmedForcessize,BirthRate,CallingCode,Capital/MajorCity,...,Officiallanguage,Outofpockethealthexpenditure,Physiciansperthousand,Population,Population:Laborforceparticipation(%),Taxrevenue(%),Totaltaxrate,Unemploymentrate,Urban_population,coordinates
0,0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,...,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"
1,1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,...,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')"
2,2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,...,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100","('28.033886 ', '1.659626')"
3,3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,...,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')"
4,4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,...,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025","('-11.202692 ', '17.873887')"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,...,Spanish,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368","('6.42375 ', '-66.58973')"
191,191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,...,Vietnamese,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140","('14.058324 ', '108.277199')"
192,192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,...,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523","('15.552727 ', '48.516388')"
193,193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,...,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713","('-13.133897 ', '27.849332')"
194,194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,...,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305","('-19.015438 ', '29.154857')"

Estén en minúscula.

In [10]:
df_inner.columns = df_inner.columns.str.lower()

In [11]:
df_inner

,unnamed:0_x,country,density\n(p/km2),abbreviation,agriculturalland(%),landarea(km2),armedforcessize,birthrate,callingcode,capital/majorcity,...,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,population:laborforceparticipation(%),taxrevenue(%),totaltaxrate,unemploymentrate,urban_population,coordinates
0,0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,...,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"
1,1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,...,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')"
2,2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,...,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100","('28.033886 ', '1.659626')"
3,3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,...,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')"
4,4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,...,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025","('-11.202692 ', '17.873887')"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,...,Spanish,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368","('6.42375 ', '-66.58973')"
191,191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,...,Vietnamese,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140","('14.058324 ', '108.277199')"
192,192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,...,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523","('15.552727 ', '48.516388')"
193,193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,...,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713","('-13.133897 ', '27.849332')"
194,194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,...,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305","('-19.015438 ', '29.154857')"

No tengan paréntesis, es decir, quitar "(%)", "(Km2)".

In [13]:
# Eliminar texto entre paréntesis y convertir a minúsculas
df_inner.columns = df_inner.columns.str.replace(r'\(.*?\)', '', regex=True).str.replace('\n', '').str.strip().str.lower()

In [17]:
pd.set_option('display.max_columns', None)
df_inner.head(2)

,unnamed:0_x,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,unnamed:0_y,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,population:laborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,coordinates
0,0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,0,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"
1,1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,1,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')"

Algunas columnas tiene "\n". Eliminalos de los nombres de las columnas.

Algunas columnas tienen ":". Eliminalos de los nombres de las columnas.

In [18]:
#primero se reemplaza

columna_merge = {columna: columna.replace(":", "") for columna in df_inner.columns}


#se renombra para que se terminen de hacer los cambios

df_inner.rename(columns=columna_merge, inplace=True)

In [20]:
df_inner.head(1)

,unnamed0_x,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,unnamed0_y,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,coordinates
0,0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,0,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"

3. La columnas coordinates tiene la latitud y la longitud en una sola columna. Crea dos columnas nuevas, una con la longitud y otra con la latitud. Una vez hecho, elimina la columna de coordinates.

In [22]:
# en este caso vamos a separar la columna `date` por los '-'
# como vemos esto nos ha devuelto una nueva serie (columna) que contiene listas.

df_inner["coordinates"].str.split("-")

0         [('33.93911 ', '67.709953')]
1        [('41.153332 ', '20.168331')]
2         [('28.033886 ', '1.659626')]
3         [('42.506285 ', '1.521801')]
4      [(', 11.202692 ', '17.873887')]
                    ...
190       [('6.42375 ', ', 66.58973')]
191     [('14.058324 ', '108.277199')]
192      [('15.552727 ', '48.516388')]
193    [(', 13.133897 ', '27.849332')]
194    [(', 19.015438 ', '29.154857')]
Name: coordinates, Length: 195, dtype: object

In [23]:
# pero a nosotros lo que realmente nos interesa tener en una columna el mes y en otra el año, 
# para hacer eso utilizaremos el parámetro 'expand'
# fijaos como ahora ya no tenemos solo una columna, si no tres, donde en cada una de ellas tenemos un elemento resultado del split

df_inner["coordinates"].str.split("-", expand = True)

                                0                          1     2
0      ('33.93911 ', '67.709953')                       None  None
1     ('41.153332 ', '20.168331')                       None  None
2      ('28.033886 ', '1.659626')                       None  None
3      ('42.506285 ', '1.521801')                       None  None
4                              ('  11.202692 ', '17.873887')  None
..                            ...                        ...   ...
190                ('6.42375 ', '                 66.58973')  None
191  ('14.058324 ', '108.277199')                       None  None
192   ('15.552727 ', '48.516388')                       None  None
193                            ('  13.133897 ', '27.849332')  None
194                            ('  19.015438 ', '29.154857')  None

[195 rows x 3 columns]

In [26]:
# ya solo nos queda un detalle, y es que de las tres columnas solo nos interesan dos.
# para quedarnos con las dos columnas que queremos usaremos el método 'get()' indicando el nombre de las columnas que nos interesan 
# además recordad que tendremos que crear las dos columnas nuevas
df_inner[["longitud", "latitud"]] = df_inner["latitud"].str.split("-", expand = True).get([0,1])

# comprobamos que se han creado correctamente las columnas
df_inner.head(2)

,unnamed0_x,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,unnamed0_y,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,coordinates,longitud,latitud
0,0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,0,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')",None,None
1,1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,1,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')",None,None

4. Las columnas unemployment_rate, total_tax_rate, tax_revenue, population_labor_force_participation, out_of_pocket_health_expenditure, gross_tertiary_education_enrollment, gross_primary_education_enrollment, forested_area, cpi_change, agricultural_land tienen "%". Elimina los "%" de los valores de las columnas.

5. Haz lo mismo para las columnas de gasoline_price, gdp, minimum_wage, pero eliminando "$".

6. Guarda el DataFrame para usarlo en el pairprogramming de mañana.

### Ejercicios de Filtrado

1. Encuentra todos los países cuya mortalidad infantil esté entre 40 y 50 personas por kilómetro cuadrado.

2. Encuentra los países cuyas tasas de natalidad son mayores o iguales a 20 y su esperanza de vida es mayor de 75 años.

3. Encuentra las ciudades cuyos paises contienen la palabra "la" en su nombre.

4. Encuentra los países cuyos medicos por cada 1000 habitantes (physicians_per_thousand) sea mayores de 5.

5. Encuentra los países cuyatasa de fertilidad sea mayor a 6.

6. Encuentra los países cuya moneda es el euro (EUR) y tienen una tasa de natalidad superior al promedio.

7. Encuentra los países cuyas tasas de mortalidad infantil son superiores a 70.