In [1]:
# LIBRERÍAS
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import shapiro, kstest
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames
from itertools import combinations  # para las medidas de correlación
import warnings
warnings.filterwarnings("ignore")

In [1]:
from src import functions

### Pair ETL I

Ejercicios ETL Parte I

En este caso trabajas en una empresa de venta al por menor de productos italianos y debes realizar la limpieza, transformación e integración de datos de ventas, productos y clientes para su análisis.

Los pasos que deberás seguir en este ejercicio son:


**Lectura de la Información:**

- Leer los archivos CSV (ventas.csv, productos.csv, clientes.csv).

In [2]:
ventas_df = pd.read_csv('ventas.csv')
ventas_df.head()

   ID_Cliente ID_Producto Fecha_Venta  Cantidad  Total
0         723          A1  2023-11-22         2  17.98
1         498          C3  2023-11-21         1   5.49
2         121          D4  2023-11-20         3  32.97
3         885         L12  2023-11-19         1   6.49
4         347         Q17  2023-11-18         2   7.98

In [3]:
clientes_df = pd.read_csv('clientes.csv')
clientes_df

,id,first_name,last_name,email,gender,City,Country,Address
0,1,Cheri,Dunsmore,cdunsmore0@instagram.com,Female,Palma De Mallorca,Spain,076 Rockefeller Crossing
1,2,Hunt,Bartomeu,hbartomeu1@nsw.gov.au,Male,Lugo,Spain,0046 Utah Junction
2,3,Michaeline,Paynton,mpaynton2@narod.ru,Female,NaN,Spain,0 Corry Crossing
3,4,Filmer,Eirwin,feirwin3@intel.com,NaN,Leon,Spain,5 American Ash Road
4,5,Tanhya,Lubbock,tlubbock4@huffingtonpost.com,Female,"Hospitalet De Llobregat, L'",Spain,9289 Merry Circle
...,...,...,...,...,...,...,...,...
995,996,Ray,Tarpey,rtarpeyrn@bravesites.com,Female,Zamora,Spain,36384 Sommers Terrace
996,997,Flem,Roderham,froderhamro@dropbox.com,Male,Pontevedra,Spain,93177 Eastwood Parkway
997,998,Winifield,Blakes,wblakesrp@jiathis.com,Male,Vigo,Spain,03044 Grayhawk Road
998,999,Lanita,Espinosa,lespinosarq@discuz.net,Female,Dos Hermanas,Spain,2 Schmedeman Drive
999,1000,Grissel,Siberry,gsiberryrr@wikispaces.com,Female,Leon,Spain,42274 Waywood Terrace

- Explorar los conjuntos de datos para comprender su estructura, columnas, tipos de datos, etc.

In [16]:
exploracion_datos(ventas_df)

_____________ INFORMACIÓN GENERAL DEL DATAFRAME ____________

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID_Cliente   100 non-null    int64
 1   ID_Producto  100 non-null    object
 2   Fecha_Venta  100 non-null    object
 3   Cantidad     100 non-null    int64
 4   Total        100 non-null    float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ KB
None
___________________ FORMA DEL DATAFRAME ____________________

El número de filas que tenemos es de 100.
El número de columnas es de 5

_______________ NULOS, ÚNICOS Y DUPLICADOS _________________

La cantidad de valores NULOS por columna es de:

ID_Cliente     0
ID_Producto    0
Fecha_Venta    0
Cantidad       0
Total          0
dtype: int64
____________________________________________________________

La cantidad de valores ÚNICOS por columna es de:

La columna ID_Cliente: 30
La columna ID_Producto: 100
La columna Fecha_Venta: 80
La columna Cantidad: 3
La columna Total: 28
____________________________________________________________

La cantidad de valores DUPLICADOS por columna es de:

La columna ID_Cliente: 70
La columna ID_Producto: 0
La columna Fecha_Venta: 20
La columna Cantidad: 97
La columna Total: 72
____________________ RESUMEN ESTADÍSTICO ____________________
____________________ Variables Numéricas __________________

            count      mean         std    min     25%     50%    75%     max
ID_Cliente  100.0  572.0500  290.403877  29.00  234.00  543.00  876.0  987.00
Cantidad    100.0    1.6500    0.729951   1.00    1.00    1.50    2.0    3.00
Total       100.0   11.2005    7.031316   4.25    5.93    8.75   12.5   32.97
___________________ Variables Categóricas _________________

            count unique         top freq
ID_Producto   100    100          A1    1
Fecha_Venta   100     80  2023-10-24    2

In [15]:
exploracion_datos(clientes_df)

_____________ INFORMACIÓN GENERAL DEL DATAFRAME ____________

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          1000 non-null   int64
 1   first_name  1000 non-null   object
 2   last_name   1000 non-null   object
 3   email       973 non-null    object
 4   gender      923 non-null    object
 5   City        876 non-null    object
 6   Country     846 non-null    object
 7   Address     959 non-null    object
dtypes: int64(1), object(7)
memory usage: 62.6+ KB
None
___________________ FORMA DEL DATAFRAME ____________________

El número de filas que tenemos es de 1000.
El número de columnas es de 8

_______________ NULOS, ÚNICOS Y DUPLICADOS _________________

La cantidad de valores NULOS por columna es de:

id              0
first_name      0
last_name       0
email          27
gender         77
City          124
Country       154
Address        41
dtype: int64
____________________________________________________________

La cantidad de valores ÚNICOS por columna es de:

La columna id: 1000
La columna first_name: 940
La columna last_name: 986
La columna email: 974
La columna gender: 9
La columna City: 56
La columna Country: 2
La columna Address: 959
____________________________________________________________

La cantidad de valores DUPLICADOS por columna es de:

La columna id: 0
La columna first_name: 60
La columna last_name: 14
La columna email: 26
La columna gender: 991
La columna City: 944
La columna Country: 998
La columna Address: 41
____________________ RESUMEN ESTADÍSTICO ____________________
____________________ Variables Numéricas __________________

     count   mean         std  min     25%    50%     75%     max
id  1000.0  500.5  288.819436  1.0  250.75  500.5  750.25  1000.0
___________________ Variables Categóricas _________________

           count unique                       top freq
first_name  1000    940                   Germain    3
last_name   1000    986                 Bartolini    2
email        973    973  cdunsmore0@instagram.com    1
gender       923      8                      Male  424
City         876     55                    Madrid   51
Country      846      1                     Spain  846
Address      959    958            7 Toban Center    2

**Transformación de Datos:**

- Limpiar los datos: manejar valores nulos, eliminar duplicados si los hay, corregir errores tipográficos, etc.

- Realizar la integración de datos: unir los conjuntos de datos apropiados para obtener una tabla única que contenga información de ventas junto con detalles de productos y clientes.

- Aplicar transformaciones relevantes según sea necesario: por ejemplo, convertir tipos de datos, renombrar columnas, crear nuevas características derivadas, etc.
NOTA Este ejercicio debe realizarse en un archivo .py

In [38]:
ver_duplicados(clientes_df, 'email')

,id,first_name,last_name,email,gender,City,Country,Address
7,8,Aubree,Jirsa,NaN,Female,Santander,NaN,8294 Schurz Court
16,17,Yance,Martinetto,NaN,Male,Pamplona/Iruña,Spain,4 Anthes Pass
42,43,Salmon,Ricciardello,NaN,Male,Donostia-San Sebastian,Spain,5237 Montana Drive
81,82,Uta,Crasford,NaN,Female,Lugo,Spain,NaN
167,168,Storm,Musterd,NaN,Female,Badajoz,Spain,NaN
171,172,Madonna,McClymond,NaN,Female,"Palmas De Gran Canaria, Las",Spain,70142 Prairieview Point
211,212,Darsey,Scargle,NaN,Female,"Coruña, A",NaN,04988 Roxbury Court
213,214,Hallsy,Deeney,NaN,Male,Barcelona,Spain,8684 Crescent Oaks Trail
215,216,Alva,Gauchier,NaN,Male,Badajoz,NaN,7 Cherokee Center
231,232,Ethelred,Aireton,NaN,Male,NaN,Spain,6166 Starling Way
407,408,Brittne,Weich,NaN,Genderfluid,Pontevedra,Spain,763 Mayer Lane
417,418,Urban,Mapstone,NaN,Male,NaN,Spain,1 Sullivan Circle
439,440,Kalila,Goldspink,NaN,Female,Sevilla,NaN,973 Loomis Avenue
445,446,Gerri,Widdowfield,NaN,Male,Lleida,NaN,61207 Granby Drive
454,455,Mateo,Davidovits,NaN,Male,Santiago De Compostela,Spain,17906 Miller Court
478,479,Lana,Kirkbright,NaN,Female,Pontevedra,Spain,3 Lawn Court
538,539,Margalo,Steketee,NaN,Female,Zamora,Spain,7 Warbler Street
577,578,Malinda,Baldazzi,NaN,Agender,Torrevieja,Spain,4079 Westend Parkway
592,593,Noreen,Crann,NaN,Female,Leon,Spain,875 Lake View Point
600,601,Cecilia,Lush,NaN,Female,Malaga,Spain,03819 Mallard Avenue
601,602,Renaud,Aberkirdo,NaN,Male,NaN,Spain,112 Gerald Lane
665,666,Micki,Van Der Hoog,NaN,Female,Barcelona,Spain,4 Hayes Hill
732,733,Lazare,Anderton,NaN,NaN,Girona,Spain,16 Grover Point
778,779,Rozanne,Rolinson,NaN,Female,Cadiz,Spain,8239 Porter Junction
845,846,Nicolle,Erridge,NaN,Female,Pontevedra,Spain,7336 Upham Circle
878,879,Gabrielle,Iwanczyk,NaN,Female,Valencia,Spain,01 Onsgard Way
988,989,Jermain,Klassmann,NaN,NaN,Palma De Mallorca,NaN,8083 Burning Wood Pass

In [37]:
ver_duplicados(clientes_df, 'Address')

,id,first_name,last_name,email,gender,City,Country,Address
9,10,Igor,Dwelley,idwelley9@flickr.com,Male,Lugo,Spain,NaN
34,35,Egon,Lafflin,elaffliny@a8.net,Male,Sevilla,Spain,NaN
72,73,Reinald,Platts,rplatts20@phpbb.com,NaN,Malaga,Spain,NaN
73,74,Tate,Capehorn,tcapehorn21@comsenz.com,Male,Barcelona,Spain,NaN
81,82,Uta,Crasford,NaN,Female,Lugo,Spain,NaN
114,115,Carole,Biasetti,cbiasetti36@soup.io,Female,NaN,Spain,NaN
147,148,Carling,Pharo,cpharo43@youku.com,Male,Donostia-San Sebastian,Spain,NaN
156,157,Nancie,Radcliffe,nradcliffe4c@mozilla.org,Female,NaN,Spain,NaN
167,168,Storm,Musterd,NaN,Female,Badajoz,Spain,NaN
175,176,Darrick,Lennox,dlennox4v@ycombinator.com,Male,NaN,NaN,NaN
189,190,Nancey,Fellnee,nfellnee59@cnet.com,Female,NaN,Spain,NaN
197,198,Corabelle,Goble,cgoble5h@fotki.com,Female,Santander,Spain,NaN
210,211,Bette,Fozard,bfozard5u@cargocollective.com,Female,Valencia,NaN,NaN
242,243,Laurie,Harlowe,lharlowe6q@csmonitor.com,NaN,Ceuta,Spain,NaN
250,251,Brand,Haydney,bhaydney6y@usda.gov,Male,Lleida,Spain,NaN
253,254,Sterling,Armstead,sarmstead71@unesco.org,Male,Aviles,Spain,NaN
267,268,Yardley,Back,yback7f@discovery.com,Male,Barcelona,Spain,7 Toban Center
301,302,Berrie,Rubury,brubury8d@constantcontact.com,Polygender,Leganes,Spain,NaN
374,375,Elisha,Pinwill,epinwillae@devhub.com,Female,"Palmas De Gran Canaria, Las",Spain,NaN
380,381,Shelli,Cellier,scellierak@unblog.fr,Female,Pamplona/Iruña,Spain,NaN
503,504,Desirae,Faircliff,dfaircliffdz@zimbio.com,Female,Valladolid,NaN,NaN
548,549,Vasilis,Vaughton,vvaughtonf8@goo.gl,Male,Donostia-San Sebastian,Spain,NaN
611,612,Germaine,Dragoe,gdragoegz@msn.com,Male,NaN,NaN,NaN
717,718,Corby,Le Marquand,clemarquandjx@youtube.com,Male,Cartagena,Spain,NaN
721,722,Ignacio,McComas,imccomask1@blogspot.com,Male,Almeria,Spain,NaN
724,725,Nara,Fumagalli,nfumagallik4@scribd.com,Female,Vitoria-Gasteiz,Spain,NaN
733,734,Abbe,Caunter,acaunterkd@cargocollective.com,NaN,Jaen,NaN,NaN
738,739,Amory,Laherty,alahertyki@wix.com,Male,NaN,Spain,NaN
776,777,Noel,Mugglestone,nmugglestonelk@arizona.edu,Male,Zamora,Spain,NaN
784,785,Olva,Cahalan,ocahalanls@ifeng.com,Female,Pontevedra,Spain,NaN
787,788,Lissa,Regan,lreganlv@multiply.com,Female,Cadiz,Spain,NaN
805,806,Josephina,Doy,jdoymd@wunderground.com,Female,Leganes,Spain,NaN
814,815,Ruperta,Meaker,rmeakermm@paypal.com,Female,Albacete,Spain,NaN
847,848,Dorette,Muck,dmucknj@theglobeandmail.com,Female,Ourense,Spain,NaN
848,849,Annabal,Blockwell,ablockwellnk@google.com.au,Bigender,Granada,Spain,NaN
855,856,Alejandro,Chese,achesenr@zimbio.com,Male,Palencia,Spain,NaN
858,859,Luisa,Adelberg,ladelbergnu@elegantthemes.com,Female,Murcia,Spain,NaN
910,911,Lorrin,O'Donoghue,lodonoghuepa@jiathis.com,Female,Palma De Mallorca,Spain,NaN
913,914,Garald,Billson,gbillsonpd@latimes.com,Male,NaN,NaN,NaN
942,943,Maritsa,Doale,mdoaleq6@google.nl,NaN,NaN,Spain,7 Toban Center
946,947,Jamill,Lewson,jlewsonqa@cafepress.com,Male,"Hospitalet De Llobregat, L'",Spain,NaN
973,974,Luke,Insley,linsleyr1@ftc.gov,Male,Pamplona/Iruña,Spain,NaN
977,978,Cindelyn,Elbourn,celbournr5@hc360.com,Female,Ceuta,Spain,NaN

In [45]:
pasar_minuscula(ventas_df)

{'ID_Cliente': 'id_cliente',
 'ID_Producto': 'id_producto',
 'Fecha_Venta': 'fecha_venta',
 'Cantidad': 'cantidad',
 'Total': 'total'}

In [44]:
pasar_minuscula(clientes_df)

{'id': 'id',
 'first_name': 'first_name',
 'last_name': 'last_name',
 'email': 'email',
 'gender': 'gender',
 'City': 'city',
 'Country': 'country',
 'Address': 'address'}

In [54]:
clientes_df['Country'].unique()

array(['Spain', nan], dtype=object)

In [59]:
clientes_df['City'].mode()

0    Madrid
Name: City, dtype: object

In [75]:
conteo_columnas_cat(clientes_df)

"Las columnas categóricas que tienen nulos son : Index(['email', 'gender', 'City', 'Address'], dtype='object')"

In [70]:
reemplazar_nulos_por_moda(clientes_df, 'Country')

'Hay 0 nulos'

In [87]:
reemplazar_unknown(columnas_desconocido, clientes_df)

Después del reemplazo usando 'fillna' quedan los siguientes nulos
City       0
email      0
Address    0
gender     0
dtype: int64