### Ejercicios de exploración del conjunto de datos

1. Muestra las primeras 5 filas del conjunto de datos.

2. Muestra las últimas 5 filas del conjunto de datos.

3. Muestra una muestra aleatoria de 5 filas del conjunto de datos.

4. Muestra el nombre de todas las columnas en el conjunto de datos.

5. Muestra los valores únicos en la columna "Abbreviation".

### BONUS DE EXPLORACION

1. Cuenta cuántas veces aparece cada valor único en la columna "Abbreviation".

2. Verifica si hay valores nulos en el conjunto de datos

3. Verifica si hay valores no nulos en el conjunto de datos.

4. Muestra información general sobre el conjunto de datos.

5. Elimina una columna específica (por ejemplo, "Armed Forces size").

6. Selecciona las columnas numéricas del conjunto de datos y muestra sus estadísticas descriptivas básicas (para esto tendréis que usar el método '.describe(), su documentación la tenéis aquí).

### Ejercicios con loc e iloc

1. Selecciona todas las columnas de las filas 2 a 4 (inclusive) utilizando loc.

2. Utilizando loc, filtra el conjunto de datos para mostrar solo las filas donde la densidad (columna "Birth Rate") es mayor a 30.

3. Utilizando loc selecciona las columnas "Country" y "Capital/Major City" de las filas donde el porcentaje de tierra agrícola (columna "Fertility Rate") es superior al 3.

4. Selecciona todas las filas de las columnas 0 a 4 (excluyendo la columna 4) utilizando iloc.

5. Encuentra el valor en la fila 2 y columna 7 utilizando iloc.

6. Selecciona todas las filas para las columnas 0, 2, y 5 utilizando iloc.

### BONUS DE LOC Y ILOC

1. Encuentra el valor de "Gasoline Price" para el país cuya abreviatura es "AL" utilizando loc.

2. Selecciona todas las columnas para el país cuya capital es "Tirana" utilizando loc.

3. Filtra el conjunto de datos para mostrar solo las filas donde el índice de CPI (columna "CPI") sea igual a 128.85.

4. Encuentra la densidad (columna "Density\n(P/Km2)") para el país cuya abreviatura es "AD" utilizando loc.

5. Selecciona las columnas "Country" y "Co2-Emissions".

6. Filtra el conjunto de datos para mostrar solo las filas donde el índice de CPI cambió un 2% (columna "CPI Change (%)").

7. Encuentra la tasa de natalidad (columna "Birth Rate") para el país con la abreviatura "AF" utilizando loc.

8. Selecciona todas las columnas de las filas 3 a 5 (excluyendo la fila 5) utilizando iloc.

9. Selecciona las columnas 1, 3 y 6 para todas las filas utilizando iloc.