In [1]:
# LIBRERÍAS
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import shapiro, kstest
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames
from itertools import combinations  # para las medidas de correlación
import warnings
warnings.filterwarnings("ignore")

### Pair ETL I

Ejercicios ETL Parte I

En este caso trabajas en una empresa de venta al por menor de productos italianos y debes realizar la limpieza, transformación e integración de datos de ventas, productos y clientes para su análisis.

Los pasos que deberás seguir en este ejercicio son:


**Lectura de la Información:**

- Leer los archivos CSV (ventas.csv, productos.csv, clientes.csv).

In [3]:
ventas_df = pd.read_csv('ventas.csv')
ventas_df.head()

   ID_Cliente ID_Producto Fecha_Venta  Cantidad  Total
0         723          A1  2023-11-22         2  17.98
1         498          C3  2023-11-21         1   5.49
2         121          D4  2023-11-20         3  32.97
3         885         L12  2023-11-19         1   6.49
4         347         Q17  2023-11-18         2   7.98

In [8]:
productos_df = pd.read_csv('productos.csv')
productos_df.head()

ParserError: Error tokenizing data. C error: Expected 7 fields in line 9, saw 9

In [7]:
clientes_df = pd.read_csv('clientes.csv')
clientes_df

,id,first_name,last_name,email,gender,City,Country,Address
0,1,Cheri,Dunsmore,cdunsmore0@instagram.com,Female,Palma De Mallorca,Spain,076 Rockefeller Crossing
1,2,Hunt,Bartomeu,hbartomeu1@nsw.gov.au,Male,Lugo,Spain,0046 Utah Junction
2,3,Michaeline,Paynton,mpaynton2@narod.ru,Female,NaN,Spain,0 Corry Crossing
3,4,Filmer,Eirwin,feirwin3@intel.com,NaN,Leon,Spain,5 American Ash Road
4,5,Tanhya,Lubbock,tlubbock4@huffingtonpost.com,Female,"Hospitalet De Llobregat, L'",Spain,9289 Merry Circle
...,...,...,...,...,...,...,...,...
995,996,Ray,Tarpey,rtarpeyrn@bravesites.com,Female,Zamora,Spain,36384 Sommers Terrace
996,997,Flem,Roderham,froderhamro@dropbox.com,Male,Pontevedra,Spain,93177 Eastwood Parkway
997,998,Winifield,Blakes,wblakesrp@jiathis.com,Male,Vigo,Spain,03044 Grayhawk Road
998,999,Lanita,Espinosa,lespinosarq@discuz.net,Female,Dos Hermanas,Spain,2 Schmedeman Drive
999,1000,Grissel,Siberry,gsiberryrr@wikispaces.com,Female,Leon,Spain,42274 Waywood Terrace

- Explorar los conjuntos de datos para comprender su estructura, columnas, tipos de datos, etc.

**Transformación de Datos:**

- Limpiar los datos: manejar valores nulos, eliminar duplicados si los hay, corregir errores tipográficos, etc.

- Realizar la integración de datos: unir los conjuntos de datos apropiados para obtener una tabla única que contenga información de ventas junto con detalles de productos y clientes.

- Aplicar transformaciones relevantes según sea necesario: por ejemplo, convertir tipos de datos, renombrar columnas, crear nuevas características derivadas, etc.
NOTA Este ejercicio debe realizarse en un archivo .py