### Ejercicios apply

Las columnas land_area, armed_forces_size, co2-emissions, gdp, population, urban_population, latitude, longitude, density, cpi son de tipo object pero en realidad deberían ser numéricas. Crea una función que nos permita cambiar el tipo de dato de estas columnas al que le corresponde.

In [78]:
import pandas as pd
import numpy as np
import re

# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

df_inner = pd.read_csv('df_world_unido.csv')
df_inner.head(5)

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capitalmajorcity,co2emissions,cpi,cpichange,currencycode,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urbanpopulation,longitude,latitude
0,Afghanistan,60,AF,58.1,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.3,AFN,4.47,2.1,0.70,"19,101,353,833",104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,"38,041,754",48.9,9.3,71.4,11.12,"9,797,273",('33.93911 ','67.709953')
1,Albania,105,AL,43.1,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.4,ALL,1.62,28.1,1.36,"15,278,077,447",107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,"2,854,191",55.7,18.6,36.6,12.33,"1,747,593",('41.153332 ','20.168331')
2,Algeria,18,DZ,17.4,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.0,DZD,3.02,0.8,0.28,"169,988,236,398",109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,"43,053,054",41.2,37.2,66.1,11.70,"31,510,100",('28.033886 ','1.659626')
3,Andorra,164,AD,40.0,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.0,1.51,"3,154,057,987",106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",('42.506285 ','1.521801')
4,Angola,26,AO,47.5,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.1,AOA,5.52,46.3,0.97,"94,635,415,870",113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,"31,825,295",77.5,9.2,49.1,6.89,"21,061,025",('-11.202692 ','17.873887')

In [79]:
#funcion para reemplazar comas por puntos
def comas_puntos(cadena):
    #eliminar espacios en blanco al inicio y al final
    cadena = cadena.str.strip()
    #reemplazar los parentesis y las comas por nada para eliminar separadores de miles
    cadena = cadena.str.replace(r"[',\(\)]", '', regex = True)
    #si existe un  punto decimal, conservarlo
    return cadena


#aplicar la funcion a las columnas

lista_columnas = ['landarea', 'armedforcessize', 'co2emissions', 'gdp', 'population', 'urbanpopulation', 'latitude', 'longitude', 'density', 'cpi']

for col in lista_columnas:
    df_inner[col] = comas_puntos(df_inner[col])

In [80]:
#convertir las columnas a tipo numerico, el parámetro errors='coerce' en pd.to_numeric() para manejar cualquier valor que no pueda ser convertido a número.

df_inner[lista_columnas] = df_inner[lista_columnas].apply(pd.to_numeric, errors ='coerce')

In [81]:
df_inner.head()

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capitalmajorcity,co2emissions,cpi,cpichange,currencycode,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urbanpopulation,longitude,latitude
0,Afghanistan,60,AF,58.1,652230.0,323000.0,32.49,93.0,Kabul,8672.0,149.90,2.3,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,38041754.0,48.9,9.3,71.4,11.12,9797273.0,33.939110,67.709953
1,Albania,105,AL,43.1,28748.0,9000.0,11.78,355.0,Tirana,4536.0,119.05,1.4,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,2854191.0,55.7,18.6,36.6,12.33,1747593.0,41.153332,20.168331
2,Algeria,18,DZ,17.4,2381741.0,317000.0,24.28,213.0,Algiers,150006.0,151.36,2.0,DZD,3.02,0.8,0.28,1.699882e+11,109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,43053054.0,41.2,37.2,66.1,11.70,31510100.0,28.033886,1.659626
3,Andorra,164,AD,40.0,468.0,NaN,7.20,376.0,Andorra la Vella,469.0,NaN,NaN,EUR,1.27,34.0,1.51,3.154058e+09,106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,77142.0,NaN,NaN,NaN,NaN,67873.0,42.506285,1.521801
4,Angola,26,AO,47.5,1246700.0,117000.0,40.73,244.0,Luanda,34693.0,261.73,17.1,AOA,5.52,46.3,0.97,9.463542e+10,113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,31825295.0,77.5,9.2,49.1,6.89,21061025.0,-11.202692,17.873887

In [82]:
# Luego comprobamos que las columnas se convirtieron realmente a float

df_inner[lista_columnas].dtypes

landarea           float64
armedforcessize    float64
co2emissions       float64
gdp                float64
population         float64
urbanpopulation    float64
latitude           float64
longitude          float64
density              int64
cpi                float64
dtype: object

Crea una función para añadir una nueva columna llamada 'Continent' al DataFrame para indicar a qué continente pertenece cada país.

In [83]:
df_inner.head(2)

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capitalmajorcity,co2emissions,cpi,cpichange,currencycode,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urbanpopulation,longitude,latitude
0,Afghanistan,60,AF,58.1,652230.0,323000.0,32.49,93.0,Kabul,8672.0,149.90,2.3,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,38041754.0,48.9,9.3,71.4,11.12,9797273.0,33.939110,67.709953
1,Albania,105,AL,43.1,28748.0,9000.0,11.78,355.0,Tirana,4536.0,119.05,1.4,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,2854191.0,55.7,18.6,36.6,12.33,1747593.0,41.153332,20.168331

In [84]:
countries_by_continent = { 
                          "Africa": [ "Algeria", "Angola", "Benin", "Botswana", "Burkina Faso", "Burundi", "Cabo Verde", "Cameroon", "Central African Republic", "Chad", "Comoros", "Congo (Congo-Brazzaville)", "Democratic Republic of the Congo", "Djibouti", "Egypt", "Equatorial Guinea", "Eritrea", "Eswatini", "Ethiopia", "Gabon", "Gambia", "Ghana", "Guinea", "Guinea-Bissau", "Ivory Coast", "Kenya", "Lesotho", "Liberia", "Libya", "Madagascar", "Malawi", "Mali", "Mauritania", "Mauritius", "Morocco", "Mozambique", "Namibia", "Niger", "Nigeria", "Rwanda", "São Tomé and Príncipe", "Senegal", "Seychelles", "Sierra Leone", "Somalia", "South Africa", "South Sudan", "Sudan", "Tanzania", "Togo", "Tunisia", "Uganda", "Zambia", "Zimbabwe" ], 
                          "Asia": [ "Afghanistan", "Armenia", "Azerbaijan", "Bahrain", "Bangladesh", "Bhutan", "Brunei", "Cambodia", "China", "Cyprus", "Georgia", "India", "Indonesia", "Iran", "Iraq", "Israel", "Japan", "Jordan", "Kazakhstan", "Kuwait", "Kyrgyzstan", "Laos", "Lebanon", "Malaysia", "Maldives", "Mongolia", "Myanmar (Burma)", "Nepal", "North Korea", "Oman", "Pakistan", "Palestine State", "Philippines", "Qatar", "Saudi Arabia", "Singapore", "South Korea", "Sri Lanka", "Syria", "Tajikistan", "Thailand", "Timor-Leste", "Turkey", "Turkmenistan", "United Arab Emirates", "Uzbekistan", "Vietnam", "Yemen" ],
                          "Europe": [ "Albania", "Andorra", "Armenia", "Austria", "Azerbaijan", "Belarus", "Belgium", "Bosnia and Herzegovina","Bulgaria", "Croatia", "Cyprus", "Czech Republic (Czechia)", "Denmark", "Estonia", "Finland", "France", "Georgia", "Germany", "Greece", "Hungary", "Iceland", "Ireland", "Italy", "Kazakhstan", "Kosovo", "Latvia", "Liechtenstein", "Lithuania", "Luxembourg", "Malta", "Moldova", "Monaco", "Montenegro", "Netherlands", "North Macedonia", "Norway", "Poland", "Portugal", "Romania", "Russia", "San Marino", "Serbia", "Slovakia", "Slovenia", "Spain", "Sweden", "Switzerland", "Ukraine", "United Kingdom", "Vatican City (Holy See)" ],
                          "North America": [ "Antigua and Barbuda", "Bahamas", "Barbados", "Belize", "Canada", "Costa Rica", "Cuba", "Dominica", "Dominican Republic", "El Salvador", "Grenada", "Guatemala", "Haiti", "Honduras", "Jamaica", "Mexico", "Nicaragua", "Panama", "Saint Kitts and Nevis", "Saint Lucia", "Saint Vincent and the Grenadines", "Trinidad and Tobago", "United States of America" ], 
                          "South America": [ "Argentina", "Bolivia", "Brazil", "Chile", "Colombia", "Ecuador", "Guyana", "Paraguay", "Peru","Suriname", "Uruguay", "Venezuela" ], "Australia/Oceania": [ "Australia", "Fiji", "Kiribati", "Marshall Islands", "Micronesia", "Nauru", "New Zealand", "Palau", "Papua New Guinea", "Samoa", "Solomon Islands", "Tonga", "Tuvalu", "Vanuatu" ], 
                          "Antarctica": [] }

In [85]:
def asignar_continente (country):
    for continent, countries in countries_by_continent.items():
        if country in countries :
            return continent

In [86]:
df_inner['continent'] = df_inner['country'].apply(asignar_continente)

In [87]:
df_inner.head(2)

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capitalmajorcity,co2emissions,cpi,cpichange,currencycode,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urbanpopulation,longitude,latitude,continent
0,Afghanistan,60,AF,58.1,652230.0,323000.0,32.49,93.0,Kabul,8672.0,149.90,2.3,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,38041754.0,48.9,9.3,71.4,11.12,9797273.0,33.939110,67.709953,Asia
1,Albania,105,AL,43.1,28748.0,9000.0,11.78,355.0,Tirana,4536.0,119.05,1.4,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,2854191.0,55.7,18.6,36.6,12.33,1747593.0,41.153332,20.168331,Europe

Guarda el DataFrame después de los cambios creados después de los dos ejercicios anteriores para usarlo en el pairprogramming de mañana.

In [88]:
df_inner.to_csv('pair-gorupby-apply.csv')

### Ejercicios groupby

¿Cuál es la densidad de población promedio por continente?

In [89]:
df_inner.groupby(["continent"])["population"].mean().reset_index()

           continent    population
0             Africa  2.602921e+07
1               Asia  9.952562e+07
2  Australia/Oceania  3.212496e+06
3             Europe  1.776785e+07
4      North America  1.193440e+07
5      South America  3.571443e+07

¿Cuál es la esperanza de vida promedio por idioma oficial? Agrupa los países por idioma oficial y calcula la esperanza de vida promedio.

In [90]:
df_inner.groupby(["officiallanguage"])["lifeexpectancy"].mean().reset_index()

     officiallanguage  lifeexpectancy
0           Afrikaans       63.900000
1            Albanian       78.500000
2             Amharic       66.200000
3              Arabic       72.864706
4            Armenian       74.900000
..                ...             ...
71  Tuvaluan Language             NaN
72          Ukrainian       71.600000
73               Urdu       67.100000
74              Uzbek       71.600000
75         Vietnamese       75.300000

[76 rows x 2 columns]

¿Cuál es la tasa de mortalidad infantil promedio por moneda?

In [91]:
df_inner.groupby(["currencycode"])["infantmortality"].mean().reset_index()

    currencycode  infantmortality
0            AED         6.500000
1            AFN        47.900000
2            ALL         7.800000
3            AMD        11.000000
4            AOA        51.600000
..           ...              ...
128          XCD        15.183333
129          XOF        51.512500
130          YER        42.900000
131          ZAR        28.500000
132          ZMW        40.400000

[133 rows x 2 columns]

¿Cuál es el salario mínimo por continente?

In [92]:
df_inner.groupby(["continent"])["minimumwage"].min().reset_index()

           continent  minimumwage
0             Africa         0.01
1               Asia         0.05
2  Australia/Oceania         0.40
3             Europe         0.31
4      North America         0.05
5      South America         0.01

¿Cuál es la tasa de impuestos total máxima por densidad de población por continente? Para solucionar este ejercicio puedes:

Primero, necesitas calcular la tasa de impuestos total para cada continente. La tasa de impuestos total se encuentra en la columna "total_tax_rate".

In [99]:
# Convertir la columna totaltaxrate a tipo numérico
df_inner['totaltaxrate'] = pd.to_numeric(df_inner['totaltaxrate'], errors='coerce')

# Eliminar filas con valores NaN en totaltaxrate
df_inner = df_inner.dropna(subset=['totaltaxrate'])

#verificar el tipo de datos de la columna 
if not df_inner['totaltaxrate'].dtype == 'float64':
    raise ValueError("La columna 'totaltaxrate' no se ha convertido correctamente a tipo numérico")

# Realizar la operación de agrupación y obtener el mínimo utilizando la función personalizada
min_values = df_inner.groupby(["totaltaxrate"]).min().reset_index()

TypeError: agg function failed [how->min,dtype->object]

Luego, calcula la densidad de población para cada continente. La densidad de población se encuentra en la columna "density".

In [ ]:
df_inner.groupby(["continent"])["density"].mean().reset_index()

TypeError: agg function failed [how->mean,dtype->object]

Ahora, divide la tasa de impuestos total entre la densidad de población para obtener la tasa de impuestos total por persona por kilómetro cuadrado.

Encuentra el país que tiene el valor más alto en esta nueva columna calculada.

¿Cuál es el porcentaje de población urbana promedio por continente?

In [101]:
# Función para convertir la media a porcentaje
def media_a_porcentaje(media):
    return media * 100

# Calcular la media y aplicar la función de conversión a porcentaje
resultado = df_inner.groupby(["continent"])["urbanpopulation"].mean().reset_index()
resultado['urbanpopulation'] = resultado['urbanpopulation'].apply(media_a_porcentaje)

In [102]:
resultado

           continent  urbanpopulation
0             Africa     1.144114e+09
1               Asia     5.198903e+09
2  Australia/Oceania     2.563095e+08
3             Europe     1.432776e+09
4      North America     9.044854e+08
5      South America     2.999807e+09

¿Cuál es la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio por idioma oficial? Para contestar esta pregunta dabes seguir los siguientes pasos:

Agrupa el DataFrame por idioma oficial y calcula la media del Gasto de Bolsillo en salud (out_of_pocket_health_expenditure) y del GPD.

In [103]:
df_inner.groupby(["officiallanguage"])["outofpockethealthexpenditure"].mean().reset_index()

   officiallanguage  outofpockethealthexpenditure
0         Afrikaans                           7.7
1          Albanian                          56.9
2           Amharic                          37.8
3            Arabic                          38.0
4          Armenian                          81.6
..              ...                           ...
67          Turkish                          16.9
68        Ukrainian                          47.8
69             Urdu                          66.5
70            Uzbek                          42.7
71       Vietnamese                          43.5

[72 rows x 2 columns]

Calcula la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio

In [104]:
# Calcular los promedios del PIB y el gasto en salud de bolsillo
promedio_pib = df_inner['gdp'].mean()
promedio_gasto_salud = df_inner['outofpockethealthexpenditure'].mean()

# Calcular la diferencia
diferencia = promedio_pib - promedio_gasto_salud

print("Promedio del PIB:", promedio_pib)
print("Promedio del gasto en salud de bolsillo:", promedio_gasto_salud)
print("Diferencia:", diferencia)

Promedio del PIB: 502273075633.4208
Promedio del gasto en salud de bolsillo: 32.82747252747253
Diferencia: 502273075600.5933

¿Cuál es la tasa de maternidad promedio por tasa de impuestos total? Para resolver el ejercicio deberás:

Primero, calcula la tasa de maternidad promedio para cada continente. Puedes usar la columna "maternal_mortality_ratio" que representa la tasa de mortalidad materna.

In [108]:
tasa_maternidad = df_inner.groupby(["continent"])["maternalmortalityratio"].mean().reset_index()
tasa_maternidad

           continent  maternalmortalityratio
0             Africa              414.041667
1               Asia               71.930233
2  Australia/Oceania               61.888889
3             Europe                7.944444
4      North America               81.277778
5      South America               88.083333

Calcula la tasa de impuestos total promedio para cada continente. Puedes usar la columna "total_tax_rate" que representa la tasa de impuestos total en cada continente.

In [109]:
total_tax = df_inner.groupby(["continent"])["totaltaxrate"].mean().reset_index()
total_tax

           continent  totaltaxrate
0             Africa     47.835417
1               Asia     32.397674
2  Australia/Oceania     37.609091
3             Europe     38.781579
4      North America     41.250000
5      South America     53.341667

Luego, divide la tasa de maternidad promedio por la tasa de impuestos total promedio para obtener la relación entre ambas tasas.

In [110]:
division = tasa_maternidad / total_tax
print(f'Relacion entre la tasa de maternidad y la tasa de impuestos: {division}')

TypeError: unsupported operand type(s) for /: 'str' and 'str'

Encuentra el país con la tasa de maternidad más alta por punto porcentual de tasa de impuestos total.

### Ejercicios bonus groupby:

¿Cuál es la tasa de natalidad máxima por área forestal por continente? Encuentra el país con la tasa de natalidad más alta por cada punto porcentual de área forestal.

¿Cuál es la diferencia entre la tasa de impuestos total y la tasa de desempleo promedio por continente?