### Ejercicios apply

Las columnas land_area, armed_forces_size, co2-emissions, gdp, population, urban_population, latitude, longitude, density, cpi son de tipo object pero en realidad deberían ser numéricas. Crea una función que nos permita cambiar el tipo de dato de estas columnas al que le corresponde.

In [60]:
import pandas as pd
import numpy as np
import re

# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

df_inner = pd.read_csv('df_world_unido.csv')
df_inner.head(5)

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capitalmajorcity,co2emissions,cpi,cpichange,currencycode,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urbanpopulation,longitude,latitude
0,Afghanistan,60,AF,58.1,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.3,AFN,4.47,2.1,0.70,"19,101,353,833",104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,"38,041,754",48.9,9.3,71.4,11.12,"9,797,273",('33.93911 ','67.709953')
1,Albania,105,AL,43.1,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.4,ALL,1.62,28.1,1.36,"15,278,077,447",107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,"2,854,191",55.7,18.6,36.6,12.33,"1,747,593",('41.153332 ','20.168331')
2,Algeria,18,DZ,17.4,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.0,DZD,3.02,0.8,0.28,"169,988,236,398",109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,"43,053,054",41.2,37.2,66.1,11.70,"31,510,100",('28.033886 ','1.659626')
3,Andorra,164,AD,40.0,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.0,1.51,"3,154,057,987",106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",('42.506285 ','1.521801')
4,Angola,26,AO,47.5,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.1,AOA,5.52,46.3,0.97,"94,635,415,870",113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,"31,825,295",77.5,9.2,49.1,6.89,"21,061,025",('-11.202692 ','17.873887')

In [54]:
df_inner['landarea'] = df_inner['landarea'].str.replace(",", ".").str.replace(",", ".")
df_inner['landarea'].unique()

array(['652.230', '28.748', '2.381.741', '468', '1.246.700', '443',
       '2.780.400', '29.743', '7.741.220', '83.871', '86.600', '13.880',
       '765', '148.460', '430', '207.600', '30.528', '22.966', '112.622',
       '38.394', '1.098.581', '51.197', '581.730', '8.515.770', '5.765',
       '110.879', '274.200', '27.830', '322.463', '4.033', '181.035',
       '475.440', '9.984.670', '622.984', '1.284.000', '756.096',
       '9.596.960', '1.138.910', '2.235', '342.000', '51.100', '56.594',
       '110.860', '9.251', '78.867', '2.344.858', '43.094', '23.200',
       '751', '48.670', '283.561', '1.001.450', '21.041', '28.051',
       '117.600', '45.228', '17.364', '1.104.300', '18.274', '338.145',
       '643.801', '267.667', '11.300', '69.700', '357.022', '238.533',
       '131.957', '349', '108.889', '245.857', '36.125', '214.969',
       '27.750', '0', '112.090', '93.028', '103.000', '3.287.263',
       '1.904.569', '1.648.195', '438.317', '70.273', '20.770', '301.340',
       '10.991', '377.944', '89.342', '2.724.900', '580.367', '811',
       '17.818', '199.951', '236.800', '64.589', '10.400', '30.355',
       '111.369', '1.759.540', '160', '65.300', '2.586', '587.041',
       '118.484', '329.847', '298', '1.240.192', '316', '181',
       '1.030.700', '2.040', '1.964.375', '702', '33.851', '2',
       '1.564.116', '13.812', '446.550', '799.380', '676.578', '824.292',
       '21', '147.181', '41.543', '268.838', '130.370', '1.267.000',
       '923.768', '120.538', '25.713', '323.802', '309.500', '796.095',
       '459', nan, '75.420', '462.840', '406.752', '1.285.216', '300.000',
       '312.685', '92.212', '11.586', '238.391', '17.098.240', '26.338',
       '261', '616', '389', '2.831', '61', '964', '2.149.690', '196.722',
       '77.474', '455', '71.740', '716', '49.035', '20.273', '28.896',
       '637.657', '1.219.090', '99.720', '644.329', '505.370', '65.610',
       '1.861.484', '163.820', '450.295', '41.277', '185.180', '144.100',
       '947.300', '513.120', '14.874', '56.785', '747', '5.128',
       '163.610', '783.562', '488.100', '26', '241.038', '603.550',
       '83.600', '243.610', '9.833.517', '176.215', '447.400', '12.189',
       '912.050', '331.210', '527.968', '752.618', '390.757'],
      dtype=object)

In [55]:
df_inner['landarea'] = df_inner['landarea'].astype(float)

ValueError: could not convert string to float: '2.381.741'

In [ ]:
df_inner.dtypes

Unnamed: 0                             int64
unnamed0_x                             int64
country                               object
density                               object
abbreviation                          object
agriculturalland                      object
landarea                             float64
armedforcessize                       object
birthrate                            float64
callingcode                          float64
capital/majorcity                     object
co2-emissions                         object
cpi                                   object
cpichange                             object
currency-code                         object
fertilityrate                        float64
forestedarea                          object
gasolineprice                         object
unnamed0_y                             int64
gdp                                   object
grossprimaryeducationenrollment       object
grosstertiaryeducationenrollment      object
infantmortality                      float64
largestcity                           object
lifeexpectancy                       float64
maternalmortalityratio               float64
minimumwage                           object
officiallanguage                      object
outofpockethealthexpenditure          object
physiciansperthousand                float64
population                            object
populationlaborforceparticipation     object
taxrevenue                            object
totaltaxrate                          object
unemploymentrate                      object
urban_population                      object
coordinates                           object
dtype: object

Crea una función para añadir una nueva columna llamada 'Continent' al DataFrame para indicar a qué continente pertenece cada país.

In [ ]:
#continente americano

Latitud: Desde 83°N hasta 56°S.
Longitud: Desde 172°W hasta 34°W.

In [56]:
df_inner.head(2)

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capitalmajorcity,co2emissions,cpi,cpichange,currencycode,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urbanpopulation,longitude,latitude
0,Afghanistan,60,AF,58.1,652.230,"323,000",32.49,93.0,Kabul,"8,672",149.9,2.3,AFN,4.47,2.1,0.70,"19,101,353,833",104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,"38,041,754",48.9,9.3,71.4,11.12,"9,797,273",('33.93911 ','67.709953')
1,Albania,105,AL,43.1,28.748,"9,000",11.78,355.0,Tirana,"4,536",119.05,1.4,ALL,1.62,28.1,1.36,"15,278,077,447",107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,"2,854,191",55.7,18.6,36.6,12.33,"1,747,593",('41.153332 ','20.168331')

In [ ]:
countries_by_continent = { 
                          "Africa": [ "Algeria", "Angola", "Benin", "Botswana", "Burkina Faso", "Burundi", "Cabo Verde", "Cameroon", "Central African Republic", "Chad", "Comoros", "Congo (Congo-Brazzaville)", "Democratic Republic of the Congo", "Djibouti", "Egypt", "Equatorial Guinea", "Eritrea", "Eswatini", "Ethiopia", "Gabon", "Gambia", "Ghana", "Guinea", "Guinea-Bissau", "Ivory Coast", "Kenya", "Lesotho", "Liberia", "Libya", "Madagascar", "Malawi", "Mali", "Mauritania", "Mauritius", "Morocco", "Mozambique", "Namibia", "Niger", "Nigeria", "Rwanda", "São Tomé and Príncipe", "Senegal", "Seychelles", "Sierra Leone", "Somalia", "South Africa", "South Sudan", "Sudan", "Tanzania", "Togo", "Tunisia", "Uganda", "Zambia", "Zimbabwe" ], 
                          "Asia": [ "Afghanistan", "Armenia", "Azerbaijan", "Bahrain", "Bangladesh", "Bhutan", "Brunei", "Cambodia", "China", "Cyprus", "Georgia", "India", "Indonesia", "Iran", "Iraq", "Israel", "Japan", "Jordan", "Kazakhstan", "Kuwait", "Kyrgyzstan", "Laos", "Lebanon", "Malaysia", "Maldives", "Mongolia", "Myanmar (Burma)", "Nepal", "North Korea", "Oman", "Pakistan", "Palestine State", "Philippines", "Qatar", "Saudi Arabia", "Singapore", "South Korea", "Sri Lanka", "Syria", "Tajikistan", "Thailand", "Timor-Leste", "Turkey", "Turkmenistan", "United Arab Emirates", "Uzbekistan", "Vietnam", "Yemen" ],
                          "Europe": [ "Albania", "Andorra", "Armenia", "Austria", "Azerbaijan", "Belarus", "Belgium", "Bosnia and Herzegovina","Bulgaria", "Croatia", "Cyprus", "Czech Republic (Czechia)", "Denmark", "Estonia", "Finland", "France", "Georgia", "Germany", "Greece", "Hungary", "Iceland", "Ireland", "Italy", "Kazakhstan", "Kosovo", "Latvia", "Liechtenstein", "Lithuania", "Luxembourg", "Malta", "Moldova", "Monaco", "Montenegro", "Netherlands", "North Macedonia", "Norway", "Poland", "Portugal", "Romania", "Russia", "San Marino", "Serbia", "Slovakia", "Slovenia", "Spain", "Sweden", "Switzerland", "Ukraine", "United Kingdom", "Vatican City (Holy See)" ],
                          "North America": [ "Antigua and Barbuda", "Bahamas", "Barbados", "Belize", "Canada", "Costa Rica", "Cuba", "Dominica", "Dominican Republic", "El Salvador", "Grenada", "Guatemala", "Haiti", "Honduras", "Jamaica", "Mexico", "Nicaragua", "Panama", "Saint Kitts and Nevis", "Saint Lucia", "Saint Vincent and the Grenadines", "Trinidad and Tobago", "United States of America" ], 
                          "South America": [ "Argentina", "Bolivia", "Brazil", "Chile", "Colombia", "Ecuador", "Guyana", "Paraguay", "Peru","Suriname", "Uruguay", "Venezuela" ], "Australia/Oceania": [ "Australia", "Fiji", "Kiribati", "Marshall Islands", "Micronesia", "Nauru", "New Zealand", "Palau", "Papua New Guinea", "Samoa", "Solomon Islands", "Tonga", "Tuvalu", "Vanuatu" ], 
                          "Antarctica": [] }

In [ ]:
def asignar_continente (countries_by_continent):
    for k, v in countries_by_continent.items():
        if col in v:
            return k

In [ ]:
df_inner['continente'] = df_inner.apply(lambda df_inner: asignar_continente(countries_by_continent, df_inner['country']), axis = 1)

Guarda el DataFrame después de los cambios creados después de los dos ejercicios anteriores para usarlo en el pairprogramming de mañana.

### Ejercicios groupby

¿Cuál es la densidad de población promedio por continente?

¿Cuál es la esperanza de vida promedio por idioma oficial? Agrupa los países por idioma oficial y calcula la esperanza de vida promedio.

In [51]:
df_inner.groupby(["officiallanguage"])["lifeexpectancy"].mean().reset_index()

     officiallanguage  lifeexpectancy
0           Afrikaans       63.900000
1            Albanian       78.500000
2             Amharic       66.200000
3              Arabic       72.864706
4            Armenian       74.900000
..                ...             ...
71  Tuvaluan Language             NaN
72          Ukrainian       71.600000
73               Urdu       67.100000
74              Uzbek       71.600000
75         Vietnamese       75.300000

[76 rows x 2 columns]

¿Cuál es la tasa de mortalidad infantil promedio por moneda?

In [52]:
df_inner.groupby(["currency-code"])["infantmortality"].mean().reset_index()

    currency-code  infantmortality
0             AED         6.500000
1             AFN        47.900000
2             ALL         7.800000
3             AMD        11.000000
4             AOA        51.600000
..            ...              ...
128           XCD        15.183333
129           XOF        51.512500
130           YER        42.900000
131           ZAR        28.500000
132           ZMW        40.400000

[133 rows x 2 columns]

¿Cuál es el salario mínimo por continente?

In [ ]:
df_inner.groupby([""])["minimumwage"].min().reset_index()

¿Cuál es la tasa de impuestos total máxima por densidad de población por continente? Para solucionar este ejercicio puedes:

Primero, necesitas calcular la tasa de impuestos total para cada continente. La tasa de impuestos total se encuentra en la columna "total_tax_rate".

Luego, calcula la densidad de población para cada continente. La densidad de población se encuentra en la columna "density".

Ahora, divide la tasa de impuestos total entre la densidad de población para obtener la tasa de impuestos total por persona por kilómetro cuadrado.

Encuentra el país que tiene el valor más alto en esta nueva columna calculada.

¿Cuál es el porcentaje de población urbana promedio por continente?

¿Cuál es la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio por idioma oficial? Para contestar esta pregunta dabes seguir los siguientes pasos:

Agrupa el DataFrame por idioma oficial y calcula la media del Gasto de Bolsillo en salud (out_of_pocket_health_expenditure) y del GPD.

Calcula la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio

¿Cuál es la tasa de maternidad promedio por tasa de impuestos total? Para resolver el ejercicio deberás:

Primero, calcula la tasa de maternidad promedio para cada continente. Puedes usar la columna "maternal_mortality_ratio" que representa la tasa de mortalidad materna.

Calcula la tasa de impuestos total promedio para cada continente. Puedes usar la columna "total_tax_rate" que representa la tasa de impuestos total en cada continente.

Luego, divide la tasa de maternidad promedio por la tasa de impuestos total promedio para obtener la relación entre ambas tasas.

Encuentra el país con la tasa de maternidad más alta por punto porcentual de tasa de impuestos total.

### Ejercicios bonus groupby:

¿Cuál es la tasa de natalidad máxima por área forestal por continente? Encuentra el país con la tasa de natalidad más alta por cada punto porcentual de área forestal.

¿Cuál es la diferencia entre la tasa de impuestos total y la tasa de desempleo promedio por continente?